@using Newtonsoft.Json
@model JITC.Models.Vol

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AeroportDepart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AeroportDepart.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AeroportArrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AeroportArrive.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDepartPrevue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureDepartPrevue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureArrivePrevue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureArrivePrevue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureDepartReelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureDepartReelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeureArriveReelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeureArriveReelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pilote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pilote.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance )
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance  )
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appareil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appareil.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recurrence)
        </dt>
        <dd class = "col-sm-10">
            @*Html.DisplayFor(model => model.Recurrence)*@
            @{
                if (Model.Recurrence != null)
                {
                    if (Model.Recurrence.Length == 8)
                            {

                                <p>Tous les jours </p>


                            }
                            else
                            {
                                foreach (var rec in JsonConvert.DeserializeObject<String[]>( Model.Recurrence))
                                {
                             
                                     switch (rec )
                                     {
                                    
                                        case "Monday" :  <p>Tous les lundis </p>;
                                                break;
                                        case "Tuesday" : <p>Tous les mardis </p>;
                                                break;
                                        case "Wednesday" : <p>Tous les mercredis </p>;
                                                break;
                                        case "Thursday" : <p>Tous les jeudis </p>;
                                                break;
                                        case "Friday" : <p>Tous les vendredis </p>;
                                                break;
                                        case "Saturday" : <p>Tous les samedis </p>;
                                                break;
                                        case "Sunday" : <p>Tous les dimanches </p>;
                                                break;;
                                     }
                                }
                            }
                }
                
                            

                           
                         
                    }
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raison)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raison)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>| <a asp-action="DetailsModif" asp-route-idVol="@Model?.Id">Liste des Modifications</a>
</div>
