@model JITC.Models.ViewModels.VolViewModel

@{
    ViewData["Title"] = "Annuler";
}

<h1>Delete</h1>
@if (ViewBag.Problem != null )
{
    
         <div class="alert alert-danger">
            <strong> Erreur ! </strong> @ViewBag.Problem 
        </div>
    
   
    
}

<h3>ëtes vous sûr de vouloir annuler ce vol?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartPrevue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartPrevue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivePrevue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivePrevue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.place)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Reservation.Id" />
        <input type="submit" value="Annuler" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
