@model IEnumerable<JITC.Models.Appareil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacite_Cab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vitesse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacite_Cab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vitesse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moteur)
            </td>
            <td>
                @Html.DisplayName( item.Statut == false ? "En ordre" : "Atelier")

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
               <!-- <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                <a asp-action="ChangerStatut" asp-route-id="@item.Id">Changer le statut</a>
            </td>
        </tr>
}
    </tbody>
</table>
